<section class="nav justify-content-md-between align-items-md-center mx-2">
    <app-logo></app-logo>
    <app-navbar></app-navbar>    

    <!-- <div class="nav-item justify-content-end align-items-baseline">
        <a class="list-inline-item text-decoration-none btn text-dark font-weight-bolder" href="https://github.com/joseGuaymas">Github</a>
        <a class="list-inline-item text-decoration-none btn text-dark font-weight-bolder" href="https://www.linkedin.com/in/jose-guaymas/">Linkedin</a>
        <button class="list-inline-item btn btn-dark" href="#">Login</button>
    </div> -->
</section>
    