<section class="mx-5">
    <app-formacion-title text="Formación"></app-formacion-title>
 
    <div class="list-group list-group-flush flex-column-reverse m-5">
        <app-formacion-item
            titulo="Bachiller en Ciencias Sociales"
            instituto="Instituo Monseñor Scalabrini"
            fecha="Diciembre 2007">
        </app-formacion-item>
        <app-formacion-item
            titulo="SQL Developer"
            instituto="Educación IT"
            fecha="Agosto 2021">
        </app-formacion-item>
        <app-formacion-item
            titulo="Desarrollo Web Full Stack"
            instituto="UTN BA"
            fecha="Diciembre 2021">
        </app-formacion-item>
        <app-formacion-item
            titulo="Python para no desarrolladores"
            instituto="Educación IT"
            fecha="Febrero 2022">
        </app-formacion-item>
        <app-formacion-item
            titulo="Python Programming"
            instituto="Educación IT"
            fecha="Octubre 2021">
        </app-formacion-item>
        <app-formacion-item
            titulo="Teletrabajo"
            instituto="UTN BA"
            fecha="Septiembre 2021">
        </app-formacion-item>
        <app-formacion-item
            titulo="Git Desarrollo Colaborativo"
            instituto="Educación IT"
            fecha="Abril 2022">
        </app-formacion-item>
        <app-formacion-item
            titulo="Programación Orientada a Objetos"
            instituto="Educación IT"
            fecha="Marzo 2022">
        </app-formacion-item>
    </div>
</section>