
<section class="justify-content-space-around contenedor mt-5" id="">
    <!-- <div class="text-center">
        <h2 class="h2">Proyectos</h2>
    </div> -->
    <app-proyectos-title text="Proyectos"></app-proyectos-title>
    <div class="row row-cols-1 row-cols-md-3 g-2 mt-3 mx-auto">
        <div class="col mt-3">
            <div class="card">
                <img src="./assets/capturas-proyectos/encriptador-de-texto.png" alt="vista previa encriptador">
                <app-proyectos-item 
                titulo="Encriptador de texto"
                lenguajes="HTML, CSS Y JavaScript">
                </app-proyectos-item>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <img src="./assets/capturas-proyectos/bbad-fetch.png" alt="vista previa fetcher">
                <app-proyectos-item 
                titulo="Personajes Breaking Bad"
                lenguajes="HTML, CSS Y JavaScript">
                </app-proyectos-item>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card">
                <img src="./assets/capturas-proyectos/juego-del-ahorcado.png" class="card-img-top" alt="vista previa ahorcado">
                <app-proyectos-item 
                titulo="Juego del Ahorcado"
                lenguajes="HTML, CSS Y JavaScript">
                </app-proyectos-item>
            </div>
        </div>
    </div>
</section> 