<section class="m-3">
    <app-skills-title text="Skills"></app-skills-title>

    <div class="card-group justify-content-center align-items-center m-3">
        <div class="card text-center m-2">
            <div class="card-body">
                <app-skills-item text="HTML"></app-skills-item>
                <div class="progress">
                    <div class="progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card text-center m-2">
            <div class="card-body">
                <app-skills-item text="JavaScript"></app-skills-item>
                <div class="progress">
                    <div class="progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card text-center m-2">
            <div class="card-body">
                <app-skills-item text="BBDD SQL"></app-skills-item>
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card text-center m-2">
            <div class="card-body">
                <app-skills-item text="Python"></app-skills-item>
                <div class="progress">
                    <div class="progress-bar w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card text-center m-2">
            <div class="card-body">
                <app-skills-item text="Node.js"></app-skills-item>
                <div class="progress">
                    <div class="progress-bar w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="card text-center m-2">
            <div class="card-body">
                <app-skills-item text="CSS 3"></app-skills-item>
                <div class="progress">
                    <div class="progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>            
</section>