<section class="mx-5">
    <app-experiencia-title text="Experiencia laboral"></app-experiencia-title>

    <div class="list-group list-group-flush m-5">
        <app-experiencia-item 
            empresa="Cooperativa Obrera"
            puesto="Auxiliar - Cajero"
            periodo="Septiembre 2014 - Actualidad">
        </app-experiencia-item>
        <app-experiencia-item 
            empresa="Supermercados Oasis"
            puesto="Repositor - Cajero"
            periodo="Agosto 2013 - Agosto 2014">
        </app-experiencia-item>
        <app-experiencia-item 
            empresa="Mundi Indumentaria"
            puesto="Emprendimiento propio"
            periodo="Junio 2010 - Agosto 2013">
        </app-experiencia-item>
    </div>         
</section>